* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './_base/_variables';
@import './_mixins/base.mixin';
@import './_modules/_m-square__home';
@import './_modules/sub-modules/main';
